* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .topbar-container {
    color: rgb(7, 0, 0);
    background-color: #248373;  /* green */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

  }

  .topbar {
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .end {
    display: flex;
    justify-content: end;
  }
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    margin-left: 20px;
  }

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social,
  .subscribe {
    align-self: flex-end;
    margin-bottom: 20px;
  }

.mid {
    display: flex;
    justify-content: center;
}

.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
  }
  
  .carousel .carousel__item,
  .carousel .carousel__item--hidden {
    display: none;
    width: 700px;
    height: 590px;
  }
  
  .carousel .carousel__item img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  
  .carousel .carousel__item--visible {
    display: block;

  }
  
  .carousel__actions {
      display: flex;
      align-items: center;

  }
    .carousel__actions button {
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    width: 55px;
    height: 30px;
    
}

.linkwhite {
    color: white;
  }

  .linkblue {
    color: #5995DA;
  }
  
  .wrapper {
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  }


  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }

  .footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 450px;
}

.signup {
    margin-left: auto;
  }


  button:hover {
    background-color: orange;
    display: inline-block;
    border: 1px solid teal;
  }

  @keyframes fadeVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }