* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: rgb(25, 199, 155);
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
}


.wrapper {
  display:flex;
  flex-direction: column;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  margin: 11px;
}

.container {
  max-width: 960px;
  
  display: flex;
  align-items: center;
  background-color: rgb(252, 252, 252);
  border-radius: 8px;
  padding: 27px 25px;
  margin-right: 35px;
  margin-left: 20px;
  margin-bottom: 2px;
  height: 70px;
  width: 600px;

}



.title{
  display: inline-block;
  background-color: rgba(153, 92, 23, 0.8);
  border-radius: 10px;
  padding: 23px 25px;
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom: 2px;
  height: 80px;
  font-size: x-large;
}

.speaker-form {
  display: flex;
  flex-direction: column;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  max-width: 205px;
  max-height: 320px;
  padding: 20px;
  border-radius: 8px;

}

.form-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

}

.form-row input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 30%;
  padding: 3px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}

@media only screen and (min-width: 700px) {
  .speaker-form-header,
  .speaker-form {
    width: 350px;
  }
  .form-row {
    flex-direction: column;
    align-items: flex-start; /* To avoid stretching */
    margin-bottom: 7px;
    margin-top: 1px;
  }
  .form-row input[type='text'],
  .form-row input[type='email'],    /* Add */
  .form-row select,                 /* These */
  .form-row textarea {
    width: 160px;
    height: initial;
  }
  .form-row label {
    text-align: left;
    width: 150px;
    margin-top: 7px;
    padding-right: 10px;
  }

  .form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none; /* Remove default red glow in Firefox */
}

.legacy-form-row {
  display: flex;
  justify-content: left;
  border: none;
  margin-bottom: 12px;
}

.legacy-form-row legend {
  margin-bottom: 15px;
}

.legacy-form-row .radio-label {
  display: flex;
  justify-content: left;
  font-size: 15px;
  padding: 0 5px 0 0px;
}

.legacy-form-row input[type='radio'] {
  margin-top: 2px;
}
  
.legacy-form-row .radio-label,
.legacy-form-row input[type='radio'] {
  float: left;
}

.form-row button {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 0px;
  max-width: 85px;

  color: #FFFFFF;
  background-color: #0b5a40;

  border: none;
  border-radius: 7px;

  padding: 12px 20px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #229c47;
}

.form-row button:active {
  background-color: #217009;
}

 .mid { 
   display: flex; 
   flex-direction: row; 
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: left;
}

.unbold {
  font-weight: normal;
}